<div class="gift-card">
  <div class="gift-card-header">
      <h2>PayPal Gift Card</h2>
  </div>
  <div class="gift-card-body">
      <div class="gift-card-amount">$100</div>
      <div class="gift-card-message">
          Enjoy this gift for your special occasion!
      </div>
  </div>
  <div class="gift-card-footer">
      Valid for one year from date of issue. Redemtion Code: x4B9-efj3-95Pf-PL8s
  </div>
</div>

<div *ngIf="!displayUserData">
  <p class="count-down">{{ countDown }}</p>
</div>

<div *ngIf="displayUserData" class="pop-up-background">
  <div class="pop-up-panel">
    <p class="text-red">Hey Dickhead!</p>
    <p>How is the weather in <b>{{ userData.city }}, {{ userData.region }}, {{ userData.country }}</b></p>
    <p>Think this is a lucky guess? Guess again!</p>
    <p>I have reported you to the authorities, your cooridantes are:</p>
    <p><b>{{ userData.loc }}</b></p>
    <p>I have also reported you to your ISP:</p>
    <p><b>{{ userData.hostname }}</b></p>
    <p>I gave them your IP to block you!</p>
    <p>Public IP: <b>{{ userData.ip }}</b></p>
  </div>
</div>